html { background-color: whitesmoke;}
body {
  font-family: Menlo, monospace;
  color: #58B;
  width: 800px;
  padding: 20px;
  min-height: 400px;
  background-color: white;
  margin: 0 auto;
}

p { white-space: pre; }

.log {
  max-height: 300px;
  overflow: scroll;
}

button {
  padding: 5px 8px;
  font-size: 1em;
  border: 1px solid #CCC;
  border-radius: 4px;
  background-color: #DDD;
  cursor: pointer;
}
